@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --dark-blue: #001931;
  --navy-blue: #627382;
  --green: #469165;
  --white: #ffffff;
  --yellow: #fce45f;
  --tomato: #f95555;
  --offwhite: #fbfbfb;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  list-style: none;
}
a,
p {
  color: #000;
  font-size: 16px;
}
.container {
  max-width: 1360px;
  margin: 0 auto;
}
nav {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
.brandLogo img {
  width: 139px;
  height: 60px;
  display: inline-block;
}
.nav-links {
  display: flex;
  gap: 32px;
}
.nav-btn a {
  background-color: var(--green);
  color: var(--white);
  padding: 12px 16px;
  display: inline-block;
  border-radius: 5px;
  font-weight: 600;
}
.hero {
  background-image: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 115px;
  padding-bottom: 179px;
  text-align: center;
}
.title-tag {
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  background-color: var(--white);
  padding: 8px 12px;
  border-radius: 50px;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 16px;
}
.title-tag p {
  color: var(--green);
  font-weight: 500;
}
.hero-text > h1 {
  font-weight: 700;
  font-size: 72px;
  text-transform: capitalize;
  color: var(--white);
}
#hero-heading-green {
  color: var(--green);
  margin-bottom: 22px;
}
.hero-text > p {
  font-weight: 300;
  padding: 10px 0;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
}
.hero-btn {
  display: flex;
  margin: 0 auto;
  margin-top: 32px;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.primary-btn {
  background-color: var(--green);
  color: var(--white);
  padding: 16px;
  display: inline-block;
  border-radius: 4px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: 16px;
  border: none;
}

.secondary-btn {
  background-color: transparent;
  color: var(--white);
  padding: 16px;
  display: inline-block;
  border: 1px solid var(--white);
  border-radius: 4px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: 16px;
}
.primary-btn:hover {
  cursor: pointer;
  background-color: var(--yellow);
  color: var(--dark-blue);
}
.primary-btn:hover svg path {
  fill: var(--dark-blue);
}
.secondary-btn:hover {
  cursor: pointer;
  background-color: var(--white);
  color: var(--dark-blue);
}
.secondary-btn:hover svg path {
  fill: var(--dark-blue);
}

/* note section start form here  */
.Notes {
  background-color: var(--offwhite);
  padding: 100px 0;
}
.notes-title {
  margin-bottom: 44px;
}
.notes-title h2 {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  color: var(--dark-blue);
}
.notes-title p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: var(--navy-blue);
}
.notes-cards {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
  margin-top: 44px;
}
.note-card {
  border-radius: 8px;
  padding: 24px;
  width: 322px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06);
  background: var(--white);
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 16px;
}
.card-image {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  background-color: var(--tomato);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-text h4 {
  font-weight: 600;
  font-size: 24px;
  text-transform: capitalize;
  text-align: center;
  color: var(--dark-blue);
}
.card-text p {
  font-size: 16px;
  text-align: center;
  color: var(--navy-blue);
  margin-top: 16px;
}
/* brain section start here  */

.Brain {
  padding: 120px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.brain-image {
  width: 50%;
}
.brain-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.brain-text {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.brain-title-tag {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--green);
}
.brain-heading {
  width: 100%;
  font-weight: 700;
  font-size: 48px;
  text-transform: capitalize;
  color: var(--dark-blue);
}
.brain-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: var(--navy-blue);
}
.brain-checklist {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  flex-direction: column;
  margin-top: 40px;
}
.checklist-item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  text-align: start;
  align-items: center;
  gap: 6px;
}
.checklist-item p {
  font-weight: 500;
  font-size: 16px;
  color: var(--dark-blue);
}

/* final cta section start here  */
.final-cta > .container {
  background-color: var(--offwhite);
  border-radius: 12px;
  padding: 64px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 80px 0;
}

.final-cta h2 {
  font-weight: 700;
  font-size: 40px;
  text-transform: capitalize;
  text-align: center;
  color: var(--dark-blue);
  margin-bottom: 16px;
}
.final-cta p {
  color: var(--navy-blue);
}
.final-cta-btn {
  margin-top: 24px;
  margin-bottom: 16px;
}
footer {
  background-color: var(--dark-blue);
  padding-top: 120px;
  padding-bottom: 30px;
  margin-top: 120px;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 107px;
}
.social-icon p {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: var(--white);
}
.social-icons-container {
  display: flex;
  gap: 16px;
}
.social-icons-container > div {
  margin-top: 16px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
  }
}
.copyright-text {
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 auto;
  margin-top: 80px;
  border-top: 1px solid var(--navy-blue);
  max-width: 1360px;
  p {
    font-size: 16px;
    text-align: center;
    color: var(--offwhite);
  }
}
/* the end  */
